{% extends "encyclopedia/layout.html" %}

{% block title %}Create New Page{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form action="{% url 'encyclopedia:new_page' %}" method="post">
        {% csrf_token %}
        <div class="form-group" style="margin-bottom: 0.75rem;">
            {{ form.title.label_tag }}<br>
            {{ form.title }}
        </div>
        <div class="form-group" style="margin-bottom: 0.75rem;">
            {{ form.content.label_tag }}<br>
            {{ form.content }}
        </div>
        <button type="submit">Save</button>
    </form>
{% endblock %}
